<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587789447319-0c8sjcvlsflpbungq2i2psepouq2ncaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587789447319-0c8sjcvlsflpbungq2i2psepouq2ncaq</string>
	<key>API_KEY</key>
	<string>AIzaSyDpPf0vE-_gIattIKoYHwEWLvBA-_aFRW0</string>
	<key>GCM_SENDER_ID</key>
	<string>587789447319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sb.Gramming</string>
	<key>PROJECT_ID</key>
	<string>gramming-4368f</string>
	<key>STORAGE_BUCKET</key>
	<string>gramming-4368f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587789447319:ios:54664cc1ada35b95</string>
	<key>DATABASE_URL</key>
	<string>https://gramming-4368f.firebaseio.com</string>
</dict>
</plist>